.xizmatlar{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 900px;
    padding: 90px 0px;
    margin: 0 auto;
    gap: 10px;

    h1{
        font-size: 33px;
    }

    p{
        font-size: larger;
    }
}